*
{
	margin: 0;
	padding: 0;
}

body
{
		
	background: 222;
	background: #008080;
	color: #fff;
	font-family: arial;
	font-size: 14px;
	font-weight: normal;
}

.slider {
		width: 100%;
		margin: auto;
		overflow: hidden;
		height: 188px;

		}

.slider ul {
		display: flex;
		padding: 0;
		width: 300%;
	
		animation: cambio 20s infinite alternate;
	
		}

.slider li {
		width: 100%;
		list-style: none;
		}

.slider img {
		width: 100%;
		height:40vh;
		
		}

@keyframes cambio {
	0% {margin-left: 0;}
	30% {margin-left: 0;}
	
	35% {margin-left: -100%;}
	65% {margin-left: -100%;}
	
	70% {margin-left: -200%;}
	100% {margin-left: -200%;}
	
}


eader #cabecera{

	background-position: center center;
	background-repeat: no-repeat;
	background-image: url("../pics/banner2.jpg") ;
	height: 188px;
	}

nav{
	
	font-weight: bold;

}

nav ul{
	margin:0;
	padding: 0;
	
}

nav li{
	display: inline-block;
	margin-left: 70px;
	padding-top: 2px;
}

nav ul li a{
	color:#00FFFF;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
}


nav ul li a:hover
{
	color:#fff;
	cursor:pointer;
}

nav ul li a::before{
	content:'';
	display:block;
	height:5px;
	background: #00FFFF;

	width:0;
	transition: all ease-in 250ms;
	top: 18px;
}

nav ul li a:hover::before{
width: 100%;

}

section{
	/*padding: 10px;
	display: inline-block;
	vertical-align: top;
	width: 70%;
*/

}

#principal{
margin:0 auto;
position: relative;
}

section #cuerpo p{
	font-family: tahoma, geneva, sans-serif;
	font-size: 12px;
}






p{
font-family: san-serif;
font-size: 22px;
text-align: center;
color:#fff;
}

aside{
	display: inline-block;
	width: 20%;

}

.login-box .avatar{
	width: 100px;
	height:100px;
	border-radius: 25px;
	position: absolute;
	top: 200px;
	left: calc(100% - 160px);
	
}

.login-box{
	width: 230px;
	height: 420px;
	
	color:#fff;
	top:50%;

	
	box-sizing: border-box;
	padding: 70px 30px;

}

.login-box h1{

	margin: 0;
	padding:0 0 20px;
	text-align: center;
	font-size: 22px;
}

.login-box label{
	margin: 0;
	padding:0;
	font-weight: bold;
	display: block;
}


.login-box a{
	text-decoration: none;
	font-size: 12px;
	line-height: 20px;
	color:darkgrey;
	text-align: center;
}

.login-box a:hover{
color:#fff;
}



/*acceso.html*/

 .contenedor-foto{
	float:left;
	width:300px;
	height:180px;	
	margin:10px;
	padding:15px;
	background-color:#f5f7f9;
	border-right: #a5a7aa solid 1px;
	border-bottom: #a5a7aa solid 1px;
	text-align: center;
}

.innerbox{
	-moz-box-shadow:1px 1px 3px #292929;
	-webkit-box-shadow:1px 1px 3px #292929;
	box-shadow: 2px 2px 3px #292929;
}

.contenedor-foto a{
	text-decoration:none; 

}

.contenedor-foto span{
	color:#000;

	font-family: Trebuchet MS;
	font-size: 9pt;
}

#menu-footer{
	
	
	height: 20px;
	padding: 5px 0px;
	clear: both;
	
	text-align: center;
	background: #b80f22;
	top: 220px;
}


