
*
{
	margin: 0;
	padding: 0;
}

body
{
		
	
	background: #008080;
	color: #fff;
	font-family: arial;
	font-size: 14px;
	font-weight: normal;
}

.slider {
		width: 100%;
		margin: auto;
		overflow: hidden;
		height: 188px;

		}

.slider ul {
		display: flex;
		padding: 0;
		width: 300%;
	
		animation: cambio 20s infinite alternate;
	
		}

.slider li {
		width: 100%;
		list-style: none;
		}

.slider img {
		width: 100%;
		height:40vh;
		
		}

@keyframes cambio {
	0% {margin-left: 0;}
	30% {margin-left: 0;}
	
	35% {margin-left: -100%;}
	65% {margin-left: -100%;}
	
	70% {margin-left: -200%;}
	100% {margin-left: -200%;}
	
}

section{
	display: inline-block;
	background: #151515;
	
	vertical-align: top;
	width: 70%;
	background: #585858;


}

.registro-box .avatar{
	width: 120px;
	height:120px;
	
	position: absolute;
	top: -30px;
	left: calc(80% - 160px);
	
}

.registro-box{
	width: 320px;
	height: 420px;
	background:#000;
	color:#fff;
	top:65%;
	left: 50%;
	position:absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding: 70px 30px;

	border-radius: 10px;
}

.registro-box h1{

	margin: 0;
	padding:0 0 20px;
	text-align: center;
	font-size: 22px;
}

.registro-box label{
	margin: 0;
	padding:0;
	font-weight: bold;
	display: block;
}

.registro-box input{
	width: 100%;
	margin-bottom: 20px;

}

.registro-box input[type="text"],
.registro-box input[type="password"]{
	border:none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height:40px;
	color:#fff;
	font-size: 16px;
}

.registro-box input[type="submit"]{
	border:none;
	outline:none;
	height:40px;
	
	background: orange;
	color: #b80f22;
	font-size: 18px;
	border-radius: 20px;

	margin-top: 20px;
}
.registro-box a{
	text-decoration: none;

	font-size: 20px;
	line-height: 20px;
	color:darkgrey;
	
	
	margin-left: 70px;
}

.registro-box a:hover{
color:#fff;
}

footer{
	position: relative;
	
	height: 20px;
	padding: 5px 0px;
	clear: both;
	
	text-align: center;
	background: #b80f22;
}


#pie{
	font-family: tahoma, geneva, sans-serif;

	font-size: 12px;
	margin: 0;
	padding:0;
	font-weight: bold;
	display: block;
	background: #224;
}

#pie p{
	font-size: 14px;
	color:white;
}